doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=(description || "Edward Xiao"))
    meta(name="author" content=(author || "Edward Xiao"))
    title
      = title || 'Edward Xiao'
      = ' | Edward Xiao'
      = locale.words.ss + locale.words.hut
    link(rel='stylesheet' href=helpers.assetUrl('application.css'))
    block dynamicCss
    link(href="/logo.ico" rel="icon" type="image/x-icon")
    meta(name="csrf-param" content="_csrf")
    meta(name="csrf-token" content=csrf)
  body
    .mo-navbar__nav-mobile.mo-nav-mobile(role='navigation')
      .mo-nav-mobile__mask
      .mo-nav-mobile__content
        .mo-nav-mobile__menu-wrapper
          ul.mo-nav-mobile__menu.mo-nav-mobile-menu
            li.mo-nav-mobile-menu__item
              a.mo-nav-mobile-menu__link(href='/', rel='nofollow')
                = locale.nav.home
            li.mo-nav-mobile-menu__item
              -
              if !isUserSignIn
                a.mo-nav-mobile-menu__link(class=helpers.isActive('signIn', nav) href='/users/sign_in')
                  = locale.user.signIn
              else
                a.mo-nav-mobile-menu__link(class=helpers.isActive('signIn', nav) href='/users/logout')
                  = locale.user.logout
    #mo-navbar.mo-navbar
      .mo-navbar__container
        span.show-mobile.mdi-icon.mdi-edwardxiao.white.mobile-menu-icon
        a.mo-navbar__brand(href='#')
          span.mdi-icon.mdi-edwardxiao.main-logo.white.no-mobile
          span.show-mobile.main-logo
            span.site-name
              = locale.site.edwardxiao + locale.words.ss + locale.words.hut
        .mo-navbar__nav.mo-nav
          .mo-nav__item.active
            a.nav-link(href='/')
              = locale.nav.home
              span.sr-only (current)
          .mo-nav__item.mo-dropdown
            a.mo-nav__link(href='/about')
              = locale.nav.portfolio
            .mo-dropdown__menu
              .mo-dropdown__item
                a(href='#')
                  = locale.nav.logoDesign
              .mo-dropdown__item
                a(href='#')
                  = locale.nav.graphicDesign
              .mo-dropdown__item
                a(href='#')
                  = locale.nav.industrialDesign
              .mo-dropdown__item
                a(href='#')
                  = locale.nav.webDesign
              .mo-dropdown__item
                a(href='#')
                  = locale.nav.photograph
          .mo-nav__item
            a.mo-nav__link(class=helpers.isActive('index', nav) href='/')
              = locale.nav.contact
          .mo-nav__item
            a.mo-nav__link(class=helpers.isActive('index', nav) href='/news')
              = locale.nav.about
          .mo-nav__item
            a.mo-nav__link(class=helpers.isActive('index', nav) href='/about')
              = locale.nav.article
        .mo-navbar__users
          .mo-navbar__users-container
            form.locales-form(action='/', method='get')
              .form-group
                select.form-control.input-sm
                  option(value='en' selected=helpers.isSelected('en', selectedLocale))
                    | English
                  option(value='zh-cn' selected=helpers.isSelected('zh-cn', selectedLocale))
                    | 中文
            -
            if !isUserSignIn
              .mo-nav__item.no-mobile-display
                a.mo-nav__link(class=helpers.isActive('signIn', nav) href='/users/sign_in')
                  = locale.user.signIn
            else
              .mo-nav__item.no-mobile-display
                a.mo-nav__link(class=helpers.isActive('signIn', nav) href='/users/logout')
                  = locale.user.logout
    .container.main
      block content
      .push
    .footer
      .container
    script(src=helpers.assetUrl('application.js'))
    script(async defer src="https://buttons.github.io/buttons.js")
    block dynamicJs
