doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=(description || "Edward Xiao"))
    meta(name="author" content=(author || "Edward Xiao"))
    title
      = title || 'Edward Xiao'
      = ' | Edward Xiao'
    link(rel='stylesheet' href=helpers.assetUrl('application.css'))
    block dynamicCss
    link(href="/logo.ico" rel="icon" type="image/x-icon")
    meta(name="csrf-param" content="_csrf")
    meta(name="csrf-token" content=csrf)
  body
    .mo-navbar__nav-mobile.mo-nav-mobile(role='navigation')
      .mo-nav-mobile__mask
      .mo-nav-mobile__content
        .mo-nav-mobile__menu-wrapper
          ul.mo-nav-mobile__menu.mo-nav-mobile-menu
            li.mo-nav-mobile-menu__item
              a.mo-nav-mobile-menu__link(href='/', rel='nofollow')
                | Home
    #mo-navbar.mo-navbar
      .mo-navbar__container
        span.show-mobile.mdi-icon.mdi-edwardxiao.white.mobile-menu-icon
        a.mo-navbar__brand(href='#')
          span.mdi-icon.mdi-edwardxiao.main-logo.white.no-mobile
          span.show-mobile.main-logo
            span.site-name
              | Edward Xiao
        .mo-navbar__nav.mo-nav
          .mo-nav__item.active
            a.nav-link(href='/')
              | 首页
              span.sr-only (current)
          .mo-nav__item.mo-dropdown
            a.mo-nav__link(href='/about') 关于我们
            .mo-dropdown__menu
              .mo-dropdown__item
                a(href='#') Action
              .mo-dropdown__item
                a(href='#') Another action
              .mo-dropdown__item
                a(href='#') Something else here
              .mo-dropdown__item
                a(href='#') Separated link
          .mo-nav__item
            a.mo-nav__link(class=helpers.isActive('index', nav) href='/') Home
          .mo-nav__item
            a.mo-nav__link(class=helpers.isActive('index', nav) href='/news') News
          .mo-nav__item
            a.mo-nav__link(class=helpers.isActive('index', nav) href='/about') About
          - if(!isUserSignIn)
            .mo-nav__item
              a.mo-nav__link(class=helpers.isActive('signIn', nav) href='/users/sign_in') SignIn
          - else
            .mo-nav__item
              a.mo-nav__link(class=helpers.isActive('signIn', nav) href='/users/logout') Logout
    .container.main
      block content
      .push
    .footer
      .container
    script(src=helpers.assetUrl('application.js'))
    script(async defer src="https://buttons.github.io/buttons.js")
    block dynamicJs
